* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    height: 100%;
    overflow: auto;
}

.wrapper {
    border: 1px solid #ffffff;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: 50%;
}

.imageCube {
    width: 300px;
    height: 300px;

    transform-style:preserve-3d;
    position: relative;
    transform: rotateY(-270deg);
    transition: 2s;
}

.imageCube div {
    height: 300px;
    width: 300px;
    position: absolute;
}

img {
    width: 100%;
}

.front {
    transform: translateZ(150px);
}
 .right {
     transform: rotateY(-270deg) translateX(150px);
     transform-origin: 100% 0;
 }

 .back {
     transform: translateZ(-150px) rotateY(180deg);
 }
 .left {
     transform: rotateY() translateX(-150px);
     transform-origin: 0 50%;
 }

 .btns {
     margin-top: 150px;
     display: flex;
     justify-content: space-between;
 }


 .btns button {
     background-color: transparent;
     color: #ffffff;
     border: 3px solid white;
     padding: 8px 30px;
     border-radius: 30px;
     cursor: pointer;
 }
